<!doctype html>
<html lang="fr">

<head>
    <title>LACR-IMMO Page Contact</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../src/css/bootstrap.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
</head>

<body>
    <header class="container-fluid">
        <div class="row p-3 align-items-center bg-dark">
            <div class="col-md-2 text-center">
                <p><img src="../src/img/logo.png" alt="Logo du site"></p>
                <h4 id="slogan" class="text-warning">Demain vous êtes chez vous !</h4>
            </div>
            <div class="col-md-10">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link h2 text-warning" href="../index.html">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link h2 text-warning modalAgency" data-toggle="modal" data-target="#modalAgency">
                            L'AGENCE</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h2 text-warning" href="../view/contact.html">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row p-3 text-center">
            <div class="col col-md-3">
                <h2>Découvrez<br>
                    nos offres</h2>
            </div>
            <div class="col-11 col-md-9 px-0">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-warning border border-warning"
                                        for="achatLocation">Achat / Location</label>
                                </div>
                                <select class="custom-select border border-warning" id="achatLocation">
                                    <option value="achat">Achat</option>
                                    <option value="location">Location</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-warning border border-warning"
                                        for="typeDeBien">Type de bien</label>
                                </div>
                                <select class="custom-select border border-warning" id="typeDeBien">
                                    <option value="appartement">Appartement</option>
                                    <option value="maison">Maison</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text bg-warning border border-warning"
                                        for="localisation">Localisation</label>
                                </div>
                                <select class="custom-select border border-warning" id="localisation">
                                    <option value="centreVille">Lievin</option>
                                    <option value="ecole">Roubaix</option>
                                    <option value="commerce">Tourcoing</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <button type="text" class="btn btn-warning" id="recherche">Rechercher</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </header>
    <hr>
    <!-- Formulaire de contact -->

    <div class="container-fluid mb-3 px-0 p-md-5">
        <div class="row mb-3 p-3 text-center">
            <div class="col">
                <h2>N'hésitez pas à nous contacter</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 text-center">
                <p>Utilisez le formulaire ci-dessous pour nous contacter par mail.<br>
                    Nous vous répondrons dans les plus brefs délais.</p>
                <form action="#" method="post" class="border border-warning shadow-lg p-md-3 rounded-lg bg-dark w-md-75">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning" id="nom">Nom</span>
                                </div>
                                <input type="text" class="form-control border border-warning" placeholder="Votre nom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="prenom">Prénom</span>
                                </div>
                                <input type="text" class="form-control border border-warning"
                                    placeholder="Votre prenom">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="mail">Mail*</span>
                                </div>
                                <input type="email" class="form-control border border-warning"
                                    placeholder="Votre email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="telephone">Téléphone*</span>
                                </div>
                                <input type="tel" class="form-control border border-warning"
                                    placeholder="Votre numéro de téléphone">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="adresse">Adresse</span>
                                </div>
                                <input type="text" class="form-control border border-warning"
                                    placeholder="Votre adresse">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning" id="codePostal">Code
                                        postal</span>
                                </div>
                                <input type="text" class="form-control border border-warning"
                                    placeholder="Votre code postal">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="ville">Ville</span>
                                </div>
                                <input type="text" class="form-control border border-warning" placeholder="Votre ville">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning"
                                        id="objet">Objet</span>
                                </div>
                                <input type="text" class="form-control border border-warning">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-warning border border-warning">Message</span>
                                </div>
                                <textarea class="form-control border border-warning" rows="5" cols="33"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center text-md-right my-3">
                        <div class="col">
                            <button type="submit" class="btn btn-warning">Envoyer</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col">
                <p>Vous pouvez également nous contacter :</p>
                <div class="p-5 border border-warning rounded-lg shadow-lg bg-dark text-warning">
                    <div class="row justify-content-center mt-5 mb-5">
                        <div class="media align-items-center">
                            <img src="../src/img/icone-telephone-26.png" class="mr-3" alt="Icone téléphone">
                            <div class="media-body">
                                <h4>Par téléphone<br>
                                    03-00-00-00-00</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="media align-items-center">
                            <img src="../src/img/icone-mail-26.png" class="mr-3" alt="Icone courrier">
                            <div class="media-body">
                                <h4>Par courrier au<br>
                                    100 rte Nationale<br>
                                    59000 Lille</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="media align-items-center">
                            <img src="../src/img/icone-email-26.png" class="mr-3" alt="Icone Email">
                            <div class="media-body">
                                <h4>Par email<br>
                                    Via le formulaire<br>
                                    ci-contre</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid bg-dark p-4">
        <ul class="nav justify-content-around text-center">
            <li class="nav-item">
                <p class="nav-link h2 text-warning modalAgency" data-toggle="modal" data-target="#modalAgency">L'AGENCE
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link h2 text-warning modalLegalNotice" data-toggle="modal"
                    data-target="#modalLegalNotice">MENTIONS LEGALES</p>
            </li>
            <li class="nav-item">
                <a class="nav-link h2 text-warning" href="../view/contact.html">NOUS CONTACTER</a>
            </li>
        </ul>
    </div>

    <!-- Modale Mentions légales -->
    <div class="modal fade" id="modalLegalNotice" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content border border-warning shadow-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLegalNoticeTitle">Mentions légales</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam delectus deleniti dolorem earum
                        est, eveniet excepturi fuga, laborum laudantium minus nihil obcaecati odio quia quod ratione
                        rerum, veniam veritatis voluptatem?</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modale L'agence -->
    <div class="modal fade" id="modalAgency" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content border border-warning shadow-lg">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAgencyTitle">Notre agence</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Profitez de l'expérience d'une agence immobilière depuis 30 ans à votre service...
                        Trouvez sur ce site l'ensemble de nos biens en vente.
                        N'hésitez pas à nous contacter quelle que soit votre demande.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../src/js/jquery-3.4.1.min.js"></script>

    <script src="../src/js/popper.min.js"></script>

    <script src="../src/js/bootstrap.min.js"></script>

    <script src="../src/js/main.js"></script>

</body>

</html>